body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    min-width: 320px;
    font-size: 14px;
    color: #5c5c5c;
}

.container {
    margin: 0 auto;
    max-width: 1340px;
}

.container--width1168px {
    max-width: 1168px;
}

.container--width1260px {
    max-width: 1260px;
}

.bg-orange {
    background: linear-gradient(228.4deg, #FFC000 1.55%, #FF8A00 95.8%);
}

.bg-white {
    background: #fff;
}

.bg-dark {
    background: #212121;
}

.bg-black {
    background: #000;
}

.logo, .cart, .btn, .search-input, .view-selector__show-count, .display-option, .course-card, .checkbox-text, .checkbox-rounded, .icon-template, .footer__link, .copyright__link {
    opacity: .8
}

.logo:hover, .cart:hover, .btn:hover, .search-input:hover, .view-selector__show-count:hover, .display-option:hover, .course-card:hover, .checkbox-text:hover, .checkbox-rounded:hover, .icon-template:hover, .footer__link:hover, .copyright__link:hover {
    opacity: 1
}

.logo:active, .cart:active, .btn:active, .search-input:active, .view-selector__show-count:active, .display-option:active, .course-card:active, .checkbox-text:active, .checkbox-rounded:active, .icon-template:active, .footer__link:active, .copyright__link:active {
    opacity: 1
}

.logo:focus, .cart:focus, .btn:focus, .search-input:focus, .view-selector__show-count:focus, .display-option:focus, .course-card:focus, .checkbox-text:focus, .checkbox-rounded:focus, .icon-template:focus, .footer__link:focus, .copyright__link:focus {
    outline: none;
}

/* --- Header --- */

.header {
    padding: 20px 0 20px;
    box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
}

@media screen and (min-width: 600px) {
    .header--display {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.logo {
    margin-right: auto;
    padding: 10px;
}

/* - Menu - */

.menu {
    margin: 30px 0;
}

.menu__item {
    display: block;
    text-decoration: none;
    margin: 20px 0;
    padding: 0 40px;
    font-size: 15px;
    color: orange;
    white-space: nowrap;
    position: relative;
}

.menu__item::after {
    content: "";
    margin: auto 0;
    width: 22px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
}

.menu__item:hover::after, .menu__item:active::after {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    opacity: .3;
}

.menu__item--active::after, .menu__item--active:hover::after {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    opacity: 1;
}

.menu__item:focus {
    outline: none;
}

.cart {
    display: flex;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
}

.cart__img {
    display: block;
    background: url(../design/ic-cart.png) center no-repeat;
    width: 22px;
    height: 19px;
}

.cart__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    padding: 2px;
    margin: 0 14px 0 0;
    border-radius: 50%;
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-size: 8px;
    color: #fff;
    order: -1;
}

@media screen and (min-width: 600px) {
    .menu {
        display: flex;
        order: 1;
    }
    .menu__item {
        padding: 10px 5px;
        margin: 0 20px;
        position: static;
    }
    .menu__item::after {
        display: block;
        margin: 10px auto -13px;
        position: static;
    }
    .menu__item:hover::after, .menu__item:active::after {
        background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
        opacity: .3;
    }
    .menu__item--active::after, .menu__item--active:hover::after {
        background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
        opacity: 1;
    }
    .cart {
        width: 40px;
        margin: 0 20px;
        position: relative;
    }
    .cart__count {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        order: 0;
    }
}

@media screen and (min-width: 1115px) {
    .menu {
        order: 0;
    }
}

/* - Button - */

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 160px;
    height: 56px;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
}

.btn--round, .btn--w100px {
    border: 1px solid #E0E0E0;
    color: #5c5c5c;
    font-weight: normal;
    box-shadow: none;
}

.btn--round, .btn--w100px {
    width: 56px;
}

.btn--w100px {
    width: 100px;
}

.btn--active {
    background: linear-gradient(229.9deg, #FFC000 1.55%, #FF8A00 95.8%);
    border: 1px solid transparent;
    color: #fff;
}

/* --- Content --- */

.section__block {
    padding: 50px 0;
}

@media screen and (min-width: 900px) {
    .section__block {
        padding: 115px 0;;
    }
}

@media screen and (min-width: 900px) {
    .section--cources .head {
        background: url(../design/bg-icons.svg) right center no-repeat;
    }
}

.title {
    max-width: 534px;
    margin: 0 0 40px;
    padding: 0 10px;
    font-size: 44px;
    line-height: 70px;
    font-weight: bold;

}

.subtitle {
    max-width: 444px;
    padding: 0 10px 30px;
    font-size: 18px;
    line-height: 33px;
}

.section--cources .head .title, 
.section--cources .head .subtitle,
.section--cources .head .tag {
    color: #fff;
}

.tag {
    text-decoration: none;
    color: inherit;
}

.section--cources .head .tag {
    font-weight: bold;
}

/* - Grid - */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "search-form"
                            "tags-bar"
                            "course-view";
    margin: 10px;
}

@media screen and (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr minmax(max-content, max-content);
        grid-template-areas:    "search-form search-form"
                                "course-view tags-bar";
    }
}

.search-form {
    grid-area: search-form;
}

.course-view {
    grid-area: course-view;
}

.tags-bar {
    grid-area: tags-bar;
}

.search-form {
    padding: 1rem 2rem .5rem;
    height: 78px;
    box-shadow: 0 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 10px;
    margin: 3rem 0;
}

.search-input {
    width: 100%;
    background: url(../design/ic-search.svg) left center no-repeat;
    padding: 1rem 0 1rem 2rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.search-input::placeholder {
    color: white;
}

.tags-bar {
    padding: 0 2rem;
}

.tag-bar__title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1.4rem;
}

.hidden {
    display: none;
}

.checkbox-text, .checkbox-rounded {
    user-select: none;
}

.checkbox-label {
    display: block;
}

.checkbox-text::before {
    display: inline-block;
    content: '✔';
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
    color: transparent;
    user-select: none;
    margin: 1rem .2rem;
}

.checkbox:checked+.checkbox-text::before {
    color: orange;
}

.type-selector {
    margin: 1rem 1rem 1rem 1.4rem;
}

.checkbox-label--inline {
    display: inline-block;
}

.checkbox-rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 43px;
    border: 1px solid #5c5c5c;
    margin: .5rem .5rem 1rem 0;
    font-size: 11px;
    overflow: hidden;
}

.checkbox:checked+.checkbox-rounded {
    background: linear-gradient(228.4deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: white;
    border: 1px solid orange;
}

.tags-bar .btn {
    margin-left: 1.4rem;
}

/* - Course View-  */

.grid-in {
    display: grid;
    gap: 10px;
}

@media screen and (min-width: 700px) {

    .grid-in {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(min-content, min-content);
    }
    
    .view-selector {
        grid-column: 1/3;
    }
    
    .pagination {
        grid-column: 1/3;
    }
}

@media screen and (min-width: 950px) {
    .grid-in {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(min-content, min-content);
    }
    
    .view-selector {
        grid-column: 1/4;
    }
    
    .pagination {
        grid-column: 1/4;
    }
}

.view-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.view-selector__show-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.view-selector__text {
    margin: 0 1rem 1rem 0;
}

.view-selector__show-count {
    text-decoration: none;
    margin-left: .5rem;
    color: inherit;
}

.display-option {
    margin: 0 0 1rem 1.5rem;
}

.view-selector__display-options {
    display: flex;
    align-items: center;
}

.course-card {
    height: 279px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.pic {
    width: 100%;
    overflow: hidden;
}

.tag-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.tag-in .tag {
    color: #fff;
    font-weight: bold;
    padding: .5rem 1.5rem;
    border-bottom-left-radius: 10px;
}

.course-card__descript {
    display: flex;
    align-items: center;
    height: 73px;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-decoration: none;
}

.course-card__text {
    line-height: 21px;
    color: white;
}

.pagination {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 50px;
}

.pagination .btn {
    margin-left: 0;
}

/* --- Footer --- */

.footer__section, .copyright__section {
    display: flex;
    flex-wrap: wrap;
}

.footer__section {
    padding-top: 60px;
}

.footer__descript, .footer__title, .footer__link, .footer__text, .copyright__link {
    color: #fff;
}

.footer__follow-block {
    margin-right: auto;
}

.footer__descript {
    padding: 32px 10px 0;
    max-width: 265px;
    font-size: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list--follow-list {
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.icon-template {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    text-decoration: none;
}

.icon-template--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.icon-template--facebook {
    background: url(../design/ic-fb.png) center no-repeat;
}

.icon-template--tweeter {
    background: url(../design/ic-tweeter.png) center no-repeat;
}

.icon-template--youtube {
    background: url(../design/ic-youtube.png) center no-repeat;
}

.icon-template--dribbble {
    background: url(../design/ic-dribbble.png) center no-repeat;
}

.footer__title, .footer__link, .footer__text {
    font-size: 15px;
}

.footer__links-block, .footer__contacts-block, .footer__terms-block {
    margin-right: 90px;
}

.footer__follow-block, .footer__links-block, .footer__contacts-block, .footer__terms-block {
    padding-bottom: 60px;
}

.footer__links-block, .footer__contacts-block, .footer__terms-block {
    padding-left: 10px;
}

.footer__title {
    margin: 0;
    padding: 10px 0 40px;
    line-height: 20px;
}

.footer__link, .footer__text {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.footer__terms-block {
    align-self: flex-end;
    margin-bottom: 20px;
}

.copyright__section {
    display: flex;
}

.copyright__link {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 0;
    margin-left: 40px;
    margin-right: 10px;
}

.copyright__link--primary-left {
    margin-left: 10px;
    margin-right: auto;
}

.copyright__link--site::after {
    content: "Credit";
    font-size: 12px;
    font-weight: bold;
    color: yellow;
}